<h1>Listing verifications</h1>

<p>These are all your verifications.</p>

<table class="list">
	<colgroup>
		<col style="width:8%;" />
		<col style="width:10%;" />
		<col style="width:58%;" />
		<col style="width:8%;" />
		<col style="width:8%;" />
		<col style="width:8%;" />
	</colgroup>
	<tr>
		<th>ID</th>
		<th>Date</th>
		<th>Description</th>
		<th>&nbsp;</th>
		<th>&nbsp;</th>
		<th>&nbsp;</th>
	</tr>

<% for verification in @verifications %>
  <tr class="itemRow<%= cycle(' oddRow', '') %>">
	<td><%=h verification.id %></td>
    <td><%=h verification.date %></td>
    <td><%=h verification.description %></td>
    <td style="text-align:center"><%= link_to 'Show', verification %></td>
    <td style="text-align:center"><%= link_to 'Edit', edit_verification_path(verification) %></td>
    <td style="text-align:center"><%= link_to 'Destroy', verification, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New verification', new_verification_path %>
